doctype html
html
    head
        title= "ChainRings - Generative art on Ethereum Blockchain"
        meta(name="description" content="ChainRings - Generative art stored on Ethereum Blockchain")
        meta(name="twitter:card" content="ChainRings - Generative art stored on Ethereum Blockchain")
        meta(name="twitter:creator" content="@emirsayis")
        meta(property="og:url" content="https://www.chainrings.art")
        meta(property="og:description" content="ChainRings - Generative art stored on Ethereum Blockchain")
        meta(property="og:image" content="https://gateway.pinata.cloud/ipfs/QmQapSoDNUpmqbAtM5HwjxPSuNfioSU6gZYBJihi53KuzF")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous')
        script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js')
        script(src='/javascripts/abi.js')
        script(src='/javascripts/nft.js')
        script(src='/javascripts/app.js')

